@font-face {
  font-family: 'tulipap-font-icons';
  src:  url('fonts/tulipap-font-icons.eot?dyz80f');
  src:  url('fonts/tulipap-font-icons.eot?dyz80f#iefix') format('embedded-opentype'),
    url('fonts/tulipap-font-icons.ttf?dyz80f') format('truetype'),
    url('fonts/tulipap-font-icons.woff?dyz80f') format('woff'),
    url('fonts/tulipap-font-icons.svg?dyz80f#tulipap-font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.tlpp {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tulipap-font-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tlpp-logo-0:before {
  content: "\e900";
}
